.bg-aqua {
    background-color: rgb(4, 76, 161);
  }
  
.bg-smoke {
  background-color: rgb(210, 210, 210);
}

.bg-forms {
  background-color: rgb(252, 249, 226);
}

.font-white {
  color: rgb(255, 255, 255);
}
